<article>
    <p>Mola {{$ctrl.persona.nombre}} {{$ctrl.persona.apellido | uppercase}}</p>
    <p>Tu altura es {{$ctrl.altura | number : 1 }}</p>

    <p>
        <label for="dato">Dime tu apellido</label>
        <input type="text" id="dato" name="dato" data-ng-model="$ctrl.persona.apellido">
        <button id="btn1" data-ng-click="$ctrl.borrarApellido()">Borrar</button>
    </p>

    <h2>Aficiones</h2>

    <p>
        <label for="dato">Dime tus aficiones</label>
        <input type="text" id="af" name="af" data-ng-model="$ctrl.unaAficion">
        <button id="btn2" data-ng-click="$ctrl.addAficion()">Añadir</button>
    </p>

    <p><input type="text" ng-model = "miFiltro"></p>
    <ul id="lista" data-ng-repeat="aficiones in $ctrl.aAficiones | filter:miFiltro track by $index">
        <li>A {{$ctrl.persona.nombre}} le gusta {{$index+1}}: {{aficiones}}</li>
    </ul>

</article>