<!DOCTYPE html>
<html>
<head>
	<title>365F 1.0.5</title>	
	<meta charset="UTF-8">
	<meta name="description" content="365Formacion: front-end en Angular 1.5">
	<meta name="author" content="Alejandro Cerezo">  	
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>

<body ng-app="appPrueba" ng-controller="MainController as $ctrl">

    <ng-include src="'cabeza.html'"></ng-include>     
    
    <form name="form1" novalidate ng-submit="form1.$valid && $ctrl.enviarForm()">
        <p>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" 
                ng-model="$ctrl.persona.nombre" 
                ng-model-options="{ updateOn: 'submit' }"
                ng-required="true" ng-minlength="2">
            <p id="errornombre" class="error" ng-show="form1.$submitted">
                <span ng-show="form1.nombre.$error.required">
                    El campo "Nombre" es obligatorio en este típo de curso</span>
                    <span ng-show="form1.nombre.$error.minlength">
                    El campo "Nombre" necesita más de 2 letras</span>
            </p>   

        </p>
        <p>
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" ng-model="$ctrl.persona.apellido">
        </p>
        <p>
           <input id = "check1" type="checkbox" ng-model="$ctrl.persona.isOk"><label for = "check1">Acepto las condiciones</label>
        </p>
        <p>Elige un lenguaje</p>
           <input id = "rd1" type="radio" ng-value= "'Java'" ng-model="$ctrl.persona.lang"><label for = "rd1">Java</label>
           <input id = "rd2" type="radio" ng-value = "'PHP'" ng-model="$ctrl.persona.lang"><label for = "rd2">PHP</label>
           <input id = "rd3" type="radio" ng-value = "'C#'" ng-model="$ctrl.persona.lang"><label for = "rd3">C#</label>


        <p>Elige un lenguaje</p>

           <!--<select id="select1"  ng-model="$ctrl.persona.lang2">
               <option ng-value= "J">Java</option>
               <option ng-value = "P">PHP</option>
               <option ng-value = "C" >C#</option>
            </select>-->

            <select 
                ng-model = "$ctrl.persona.lang2" 
                ng-options = "lang as lang.name for lang in $ctrl.aLenguajes track by lang.code"
                ng-change="$ctrl.alSeleccionar()">
            </select>


        <p>
            <input type="submit" id="btn1" value ="Enviar">
            <input type="button" id="btn1" ng-click="$ctrl.borrarForm()" value="Borrar">
        </p>
    </form>



    <ng-include src="'pie.html'"></ng-include>        


<script src="formulario.js"></script>
</body>
</html>


