<!DOCTYPE html>
<html>
<head>
	<title>365F 1.0.5</title>	
	<meta charset="UTF-8">
	<meta name="description" content="365Formacion: front-end en Angular 1.5">
	<meta name="author" content="Alejandro Cerezo">  	
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>

<body data-ng-app="appPrueba" data-ng-controller="MainController as $ctrl">

    <ng-include src="'cabeza.html'"></ng-include>     
    <ng-include src="'menu.html'"></ng-include>     
    
    <ng-include ng-if="$ctrl.aOpciones[0]" src="'cuerpo.html'"></ng-include>     

    <bloque2 user="$ctrl.persona" ng-if="$ctrl.aOpciones[1]"></bloque2>     
    
    <div ng-if="$ctrl.aOpciones[2]"> Aqui irá opcion 3</div>

    <ng-include src="'pie.html'"></ng-include>        


    <script src="usarDirectiva.js"></script>
</body>
</html>


